### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [114]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.info()
purchase_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [116]:
Total_player = len(purchase_data["SN"].unique())
Total_player

576

In [117]:
Summary_Total_player = pd.DataFrame({"Total players": [Total_player]})
Summary_Total_player

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
# number of unique items
Unique_items = len(purchase_data["Item Name"].unique())
Unique_items

179

In [119]:
# Average price
avg_price = purchase_data['Price'].mean()
# purchases
purchases_df = purchase_data['Price'].count()
# revenue
revenue_df = purchase_data['Price'].sum()

summary_UAPR = pd.DataFrame({"Number of Unique Items": [Unique_items],
                              "Average Price": avg_price,
                              "Number of Purchases": purchases_df,
                              "Total Revenue": revenue_df})
summary_UAPR

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [175]:
#summary_UAPR["Average Price"]=summary_UAPR["Average Price"].map("${:,.2f}".format)
#summary_UAPR["Total Revenue"] = summary_UAPR["Total Revenue"].map("${:,.2f}".format)
summary_UAPR.style

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [162]:

#GENDER DEMOGRAPHICS

# grouping by SN and Gender
Gender_demographic = purchase_data.groupby(["SN","Gender"])
Gender_demographic_df = pd.DataFrame(Gender_demographic.size())

#Counting number of players by gender
Gender_agg_df = pd.DataFrame(Gender_demographic_df.groupby(["Gender"]).count())
Gender_agg_df.columns =["Total Count"]

# Pecentage of players in each group
Gender_agg_df["Percentage of Players"] = round(100*(Gender_agg_df["Total Count"]/Gender_agg_df["Total Count"].sum()),2)
Gender_agg_df= Gender_agg_df[["Percentage of Players","Total Count"]]

Gender_agg_df.sort_values('Total Count', ascending = False)
Gender_agg_df.style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [177]:
#Purchase Count

gender_purchases_df = purchase_data.groupby("Gender")["Item Name"]
gender_purchases_df= gender_purchases_df.size()

#Average Purchase Price
average_price = purchase_data.groupby("Gender")["Price"].mean()

#Total Purchase Value
purchase_price = purchase_data.groupby("Gender")["Price"].sum()

#Average total purchase per person
gender_count_df = purchase_data.groupby("Gender")["SN"].nunique()
avg_total_per_person = (purchase_price/gender_count_df)

#avg_total_per_person
summary_gender_df = pd.DataFrame({"Purchase Count": gender_purchases_df, "Average Purchase Price": average_price,"Total Purchase Value": purchase_price,"Avg Total Purchase per Person": avg_total_per_person})
summary_gender_df["Average Purchase Price"] = summary_gender_df["Average Purchase Price"].map("${:,.2f}".format)
summary_gender_df["Total Purchase Value"] = summary_gender_df["Total Purchase Value"].map("${:,.2f}".format)
summary_gender_df["Avg Total Purchase per Person"] = summary_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
summary_gender_df.style

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [194]:

#Age Demographics

bins = [0, 9, 14, 19, 24,29,34,39,100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

groupby_agegroup_SN = purchase_data.groupby(["SN","Age Group"])

                                                              
uniquie_players_agegroup = pd.DataFrame(groupby_agegroup_SN.size())
agegroup_df = pd.DataFrame(uniquie_players_agegroup.groupby(["Age Group"]).count())
agegroup_df.columns= ["Total Count"]
agegroup_df["Percentage of Players"] =round(100 *agegroup_df["Total Count"]/agegroup_df["Total Count"].sum(),2).astype(str) + '%'

agegroup_df.style

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [198]:
#Purchasing analysis (age)

agegroup_purchases_df = purchase_data.groupby("Age Group")["Item Name"]
agegroup_purchases_df= agegroup_purchases_df.size()

#Average Purchase Price
agegroup_average_price = purchase_data.groupby("Age Group")["Price"].mean()

#Total Purchase Value
agegroup_purchase_price = purchase_data.groupby("Age Group")["Price"].sum()

#Average total purchase per person
agegroup_gender_count_df = purchase_data.groupby("Age Group")["SN"].nunique()
agegroup_avg_total_per_person = (agegroup_purchase_price/gender_count_df)

#avg_total_per_person
summary_gender_df = pd.DataFrame({"Purchase Count": agegroup_purchases_df, "Average Purchase Price": agegroup_average_price,"Total Purchase Value": agegroup_purchase_price,"Avg Total Purchase per Person": agegroup_avg_total_per_person})
summary_gender_df["Average Purchase Price"] = summary_gender_df["Average Purchase Price"].map("${:,.2f}".format)
summary_gender_df["Total Purchase Value"] = summary_gender_df["Total Purchase Value"].map("${:,.2f}".format)
summary_gender_df["Avg Total Purchase per Person"] = summary_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
summary_gender_df.style

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [266]:
# Top senders

top_purchases_df = purchase_data.groupby("SN")["Item Name"]
top_purchases_df= top_purchases_df.size()

#Average Purchase Price
top_average_price = purchase_data.groupby("SN")["Price"].mean()

#Total Purchase Value
top_purchase_price = purchase_data.groupby("SN")["Price"].sum()



#avg_total_per_person
summary_gender_df = pd.DataFrame({"Purchase Count": top_purchases_df, "Average Purchase Price": top_average_price,"Total Purchase Value": top_purchase_price})
summary_gender_df["Average Purchase Price"] = summary_gender_df["Average Purchase Price"].map("${:,.2f}".format)
#summary_gender_df["Total Purchase Value"] = summary_gender_df["Total Purchase Value"].map("${:,.2f}".format)
summary_gender = summary_gender_df.sort_values('Purchase Count',ascending = False)
summary_gender.head(5).style

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [287]:
# Most popular items

# Purchase count
Most_purchases_df = purchase_data.groupby("Item Name")["Age"]
Most_purchases_df.columns = ["Item ID"]
most_purchase_df = Most_purchases_df.count()
most_popular_df = most_purchase_df.sort_values(ascending = False)
#print(most_popular_df)

#Average Purchase Price
Most_average_price = purchase_data.groupby("Item Name")["Price"].mean()

#Total Purchase Value
Most_purchase_price = purchase_data.groupby("Item Name")["Price"].sum()



#avg_total_per_person
summary_most_df = pd.DataFrame({"Purchase Count": most_popular_df,"Average Purchase Price": Most_average_price,"Total Purchase Value": Most_purchase_price})
summary_most_df["Average Purchase Price"] = summary_most_df["Average Purchase Price"].map("${:,.2f}".format)
summary_most_df["Total Purchase Value"] = summary_most_df["Total Purchase Value"].map("${:,.2f}".format)
summary_most = summary_most_df.sort_values('Purchase Count',ascending = False)
#summary_most_item = summary_most.set_index(purchase_data(["Item ID"]), append = True)
summary_most.head(5).style

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [288]:
# Most profitable items

# Purchase count
Most_purchases_df = purchase_data.groupby("Item Name")["Age"]
Most_purchases_df.columns = ["Item ID"]
most_purchase_df = Most_purchases_df.count()
most_popular_df = most_purchase_df.sort_values(ascending = False)
#print(most_popular_df)

#Average Purchase Price
Most_average_price = purchase_data.groupby("Item Name")["Price"].mean()

#Total Purchase Value
Most_purchase_price = purchase_data.groupby("Item Name")["Price"].sum()



#avg_total_per_person
summary_most_df = pd.DataFrame({"Purchase Count": most_popular_df,"Average Purchase Price": Most_average_price,"Total Purchase Value": Most_purchase_price})
summary_most_df["Average Purchase Price"] = summary_most_df["Average Purchase Price"].map("${:,.2f}".format)
summary_most_df["Total Purchase Value"] = summary_most_df["Total Purchase Value"].map("${:,.2f}".format)
summary_most = summary_most_df.sort_values('Purchase Count',ascending = False)
#summary_most_item = summary_most.set_index(purchase_data(["Item ID"]), append = True)
summary_most.head(5).style