### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Total number of schools 
total_schools = school_data_complete.school_name.unique()
total_schools_df = len(total_schools)
total_schools_df

15

In [4]:
# total number os students

total_students = school_data_complete.student_name.count()
total_students

39170

In [5]:
# Total budget
total_budget = school_data_complete.budget.sum()
total_budget

82932329558

In [6]:
# Average math score 

avg_math_score = school_data_complete.math_score.mean()
avg_math_score

78.98537145774827

In [7]:
# average reading score
avg_reading_score = school_data_complete.reading_score.mean()
avg_reading_score

81.87784018381414

In [8]:
# percentage calculations
Percetange_math_70 = school_data_complete.loc[school_data_complete['math_score'] > 70, :]['student_name'].count()
Percetange_math_df = (Percetange_math_70/total_students)*100
Percetange_math_df

72.39213683941792

In [9]:
# percentage calculations
Percetange_reading_70 = school_data_complete.loc[school_data_complete['reading_score'] > 70, :]['student_name'].count()
Percetange_reading_df = (Percetange_reading_70/total_students)*100
Percetange_reading_df

82.97166198621395

In [10]:
# Overall passing rate

Overall_passing_rate = (Percetange_math_df+Percetange_reading_df)/2

In [11]:
district_summary = pd.DataFrame({"Total School": total_schools_df,"Total Students": total_students,"Total Budget": total_budget,"Average Math Score": avg_math_score, "Average Reading Score":avg_reading_score, "% Passing Math":Percetange_math_df, "% Passing Reading":Percetange_reading_df,"% Overall Passing": Overall_passing_rate},index = [0])
district_summary.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_type = school_data_complete.groupby(by ="school_name")
#school_type.count()
#school_type.describe()

In [13]:
total_students_perschool = school_data_complete.groupby(by ="school_name")["student_name"]
total_students_perschool_df = total_students_perschool.size()
total_students_perschool_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [14]:
total_budget_perschool = school_data_complete.groupby(by ="school_name")["budget"]
total_budget_perschool_df = total_budget_perschool.mean()
total_budget_perschool_df

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [15]:

# Use groupby by school_name

per_school_group = school_data_complete.groupby(["school_name"]).mean()
per_student_budget_df = per_school_group["budget"]/per_school_group["size"]
per_student_budget_df

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
#Average math score

Avg_math_score_schoolgroup = school_data_complete.groupby(by ="school_name")["math_score"].mean()
Avg_math_score_schoolgroup

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
Avg_reading_score_schoolgroup = school_data_complete.groupby(by ="school_name")["reading_score"].mean()
Avg_reading_score_schoolgroup

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [25]:
#percentage calculations
Pass_Math_BySchool=school_data_complete.loc[school_data_complete['math_score']>=70]
school_group_math_count = Pass_Math_BySchool.groupby(by ="school_name")["math_score"].count()
Percetange_math_df = (school_group_math_count/total_students_perschool_df)*100
print(Percetange_math_df)

Pass_reading_BySchool=school_data_complete.loc[school_data_complete['reading_score']>=70]
school_group_reading_count = Pass_reading_BySchool.groupby(by ="school_name")["reading_score"].count()
Percetange_reading_df = (school_group_reading_count/total_students_perschool_df)*100
print(Percetange_reading_df)

Percetange_overall_df = (Percetange_math_df+Percetange_reading_df)/2
print(Percetange_overall_df)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [40]:
schoolgroup_type = school_type["type"].first()
#schoolgroup_type_df = schoolgroup_type.()
schoolgroup_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [41]:
School_summary = pd.DataFrame({"School Type": schoolgroup_type, "Total Students": total_students_perschool_df, "Total School Budget": total_budget_perschool_df, "Per Student Budget": per_student_budget_df, "Average Math Score": round(Avg_math_score_schoolgroup,2), "Average Reading Score": round(Avg_reading_score_schoolgroup,2), "% Passing Math": round(Percetange_math_df,2), "% Passing Reading": round(Percetange_reading_df,2), "% Overall Passing": round(Percetange_overall_df,2)})
School_summary["Total School Budget"] = School_summary["Total School Budget"].map("${:,.2f}".format)
School_summary["Per Student Budget"] = School_summary["Per Student Budget"].map("${:,.2f}".format)
School_summary.style

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [42]:
School_summary.sort_values("% Overall Passing",ascending = False).head(5).style

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [43]:
School_summary.sort_values("% Overall Passing").head(5).style

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [44]:

#Create a pandas series for each grade. Group each series by school.

math_score_bygrade_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
math_score_bygrade_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
math_score_bygrade_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
math_score_bygrade_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

In [45]:
grade_summary_math = pd.DataFrame({"9th": math_score_bygrade_9th, "10th": math_score_bygrade_10th, "11th": math_score_bygrade_11th, "12th": math_score_bygrade_12th})
grade_summary_math[["9th","10th","11th","12th"]] = grade_summary_math[["9th","10th","11th","12th"]].applymap("{:.2f}".format)
grade_summary_math.style

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [46]:

#Create a pandas series for each grade. Group each series by school.

reading_score_bygrade_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
reading_score_bygrade_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
reading_score_bygrade_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
reading_score_bygrade_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]
grade_summary_reading = pd.DataFrame({"9th": reading_score_bygrade_9th, "10th": reading_score_bygrade_10th, "11th": reading_score_bygrade_11th, "12th": reading_score_bygrade_12th})
grade_summary_reading[["9th","10th","11th","12th"]] = grade_summary_reading[["9th","10th","11th","12th"]].applymap("{:.2f}".format)
grade_summary_reading.style

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [47]:
# figure out average student budget per student
print(per_student_budget_df.min())
print(per_student_budget_df.max())

578.0
655.0

In [48]:
bins = [0,584,629,644,675]
group_names = ["<$584","$585-629","$630-644","$645-675"]
School_summary["Per Student Budget"] = School_summary["Per Student Budget"].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [49]:
School_summary = School_summary.reset_index()

In [50]:
School_summary["Spending Ranges (Per Student)"] = pd.cut(School_summary["Per Student Budget"], bins, labels=group_names)
# Groupby Spending ranges
grouped_spend_df = School_summary.groupby(["Spending Ranges (Per Student)"])              
# Calculate the values for the data table
spending_summary_df = grouped_spend_df.mean()
# Display Summary
spending_summary_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].style

## Scores by School Size

* Perform the same operations as above, based on school size.

In [51]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
School_summary = School_summary.reset_index()
# Add Spending Ranges by Bins
School_summary["School Size"] = pd.cut(School_summary["Total Students"], size_bins, labels=group_names)
# Groupby Spending ranges
grouped_size_df = School_summary.groupby(["School Size"])   
# Calculate the values for the data table
size_summary_df = grouped_size_df.mean()

# Display Summary
size_summary_df[["Average Math Score",
                "Average Reading Score",
                "% Passing Math",
                "% Passing Reading",
                "% Overall Passing"]].style

## Scores by School Type

* Perform the same operations as above, based on school type

In [52]:
School_summary = School_summary.reset_index()
grouped_type_df = School_summary.groupby(["School Type"])
type_summary_df = grouped_type_df.mean()
type_summary_df[["Average Math Score",
                "Average Reading Score",
                "% Passing Math",
                "% Passing Reading",
                "% Overall Passing"]].style